.content2 {
    display: grid;
    color: white;
    justify-content: center;
    padding: 5px;
    width: 310px;
    margin-left: auto;
    margin-right: auto;
}

.content2-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    gap: 3px;
    border: 1px solid rgb(160, 160, 160);
    width: 310px;
}

@media screen and (min-width:768px) {
    .content2 {
        display: flex;
        color: white;
        flex-direction: row;
        gap: 10px;
        width: 768px;
        height: 120px;
    }

    .content2-item {
        display: grid;
        justify-content: space-between;
        border: 1px solid rgb(160, 160, 160);
        width: 150px;
        height: 110px;
    }
}

@media screen and (min-width:1400px) {
    .content2 {
        display: flex;
        color: white;
        flex-direction: row;
        gap: 30px;
        width: 1400px;
        height: 120px;
    }

    .content2-item {
        display: grid;
        justify-content: space-between;
        border: 1px solid rgb(160, 160, 160);
        width: 250px;
        height: 110px;
    }
}