body{
 font-family: 'Antonio';
  margin: 0;
  padding: 0;
}

.main {
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
.welcome-planet{

  width: 380px;
   margin-left: auto;
   margin-right: auto;
}

.welcomePage{
  color: white;
  font-size: 30px;
  margin-left: auto;
  margin-right: auto;
  width: 200px;

  text-align: center;
}
.image{
  width: 111px;
height: 111px;



margin-left: auto;
margin-right: auto;

}
.mainPage{
  display: none;
}
@media screen and (min-width:768px){
  .main {
    width: 100%;
    min-height: 100vh;
  }

  .mainPage{
    display: block;
    color: white;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 25px;
  }
  .welcomePage{
    display: none;
  }
  .welcome-planet{
    width: 768px;
  }
  
  .image{
    width: 184px;
height: 184px;




  }
}
@media screen and (min-width: 1400px){
  .main {
    width: 100%;
    min-height: 100vh;
  }
.mainPage{
  display: block;
  color: white;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 25px;
}
.image{
  width: 290px;
height: 290px;
position: relative;
right: 250px;
top: 200px;

}
.welcome-planet{
  position: relative;
  left: 300px;

  width: 880px;
   margin-left: auto;
   margin-right: auto;
}
.welcomePage{
  display: none;
}
}